:root {
  --background: #ffffff;
  --primary: #fff;
  --secondary: #fff;
  --accent: #f8dd9f;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  grid-column: col2 / col5;
}

nav ul {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
  gap: 1rem;
}

nav ul img {
  margin-right: 2rem;
}

nav ul button {
  margin-left: 2rem;
}

nav ul a {
  text-decoration: none;
}

.grid-container {
  display: grid;
  grid-template-columns: [start] 1fr [col1] 1fr [col2] 2fr [col3] 4fr [col4] 2fr [col5] 1fr [col6] 1fr [end];
}

.grid-item {
  padding: 1rem;
}

.grid-full-top {
  grid-column: start / end;
  position: relative;
  min-height: clamp(40vh, 70vh, 80vh);
  background: url("./assets/topbillede.jpg") no-repeat center center;
  background-size: cover;
}

.top-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
  color: var(--primary);
}

.item2 {
  grid-column: col2 / col5;
  position: relative;
  z-index: 1;
  text-align: center;
}

.item2::before {
  content: "";
  position: absolute;
  background-color: var(--accent);
  width: 100vw;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}

.item3 {
  grid-column: col2 / col5;
  position: relative;
}

.item3 img {
  width: 50%;
}

@media (max-width: 768px) {
  nav ul {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style-type: none;
  }

  nav ul img {
    margin-right: 0;
  }

  nav ul button {
    margin-left: 0;
  }
}
